<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medi2Door - Bringing the medicine at your door</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/helper.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
</head>

<body>

    <div class="main-wrapper">

        <div class="header-section section">
            <div class="header-top header-top-one bg-theme-two">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col mt-10 mb-10 d-none d-md-flex">
                            <div class="header-top-left">
                                <p>Welcome to Medi2Door - Bringing the medicine at your door</p>
                            </div>
                        </div>
                        <div class="col mt-10 mb-10">
                            <div class="header-top-right">
                                <% if(userFName.length > 0) { %>
                                    <p>Hi <%= userFName %></p>                                        
                                    <% } %>
                                <p><a href="/my-account">My Account</a></p>
                                <% if(userFName.length > 0) { %>
                                    <p><a href="/logout-process">Logout</a></p>                                        
                                    <% } else { %>
                                <p><a href="/login">Register</a><a href="/login">Login</a></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-bottom-one header-sticky">
                <div class="container-fluid">
                    <div class="row menu-center align-items-center justify-content-between">
                        <div class="col mt-15 mb-15">
                            <div class="header-logo">
                                <a href="/index">
                                    <img src="assets/images/logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="col order-2 order-lg-3">
                            <div class="header-shop-links">
                                <div class="header-mini-cart">
                                    <img src="assets/images/icons/cart.png" alt="Cart"> 
                                    <% if (totalPrice == 0) { %>
                                        <span>Rs.<%= totalPrice %></span>
                                    <% } else { %>
                                        <span>Rs.<%= totalPrice %></span>&nbsp;&nbsp;<button type="button" class="btn btn-success btn-sm"><a href="/cart">View Cart</a></button> 
                                    <% } %> 
                                </div>
                            </div>
                        </div>

                        <div class="col order-3 order-lg-2">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="active" href="/index">HOME</a>
                                        </li>
                                        <li>
                                            <a href="#">ABOUT</a>
                                        </li>
                                        <li><a href="#">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="mobile-menu order-12 d-block d-lg-none col"></div>

                    </div>
                </div>
            </div>

        </div>
        <div class="page-banner-section section" style="background-image: url(assets/images/page-cover.jpg)">
            <div class="container">
                <div class="row">
                    <div class="page-banner-content col">

                        <h1>Checkout</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="/index">Medi2Door</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="#">Checkout</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <!-- Page Section Start -->
        <div class="page-section section section-padding">
            <div class="container">
                <!-- Checkout Form s-->
                <form class="checkout-form">
                    <div class="row row-50 mbn-40">

                        <div class="col-lg-7">
                            <% if (message.length > 10) { %>
                                    <div class="col-12 mb-40">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <%= message %>
                                            <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                            <% } else if (message.length == 7) { %>{ %>
                              
                                    <div class="col-12 mb-40">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            Order placed successfully!
                                            <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                               
                            <% } else { %>  
                                <span>&nbsp;</span> 
                            <% } %>
                            <!-- Billing Address -->
                            <div id="billing-form" class="mb-20">
                                <h4 class="checkout-title">Billing Address</h4>

                                <div class="row">

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>First Name*</label>
                                        <input type="text" placeholder="First Name" placeholder="testing" value="<%= billingInfo[0].firstName %>">
                                        
                                    </div>

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Last Name*</label>
                                        <input type="text" placeholder="Last Name" value="<%= billingInfo[0].lastName %>">
                                    </div>

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Email Address*</label>
                                        <input type="email" placeholder="Email Address" value="<%= billingInfo[0].email %>">
                                    </div>

                                    <div class="col-12 mb-5">
                                        <label>Address*</label>
                                        <input type="text" placeholder="Address" value="<%= billingInfo[0].street %>">
                                    </div>

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Town/City*</label>
                                        <select id="city" name="city">
                                            <option value="<%= billingInfo[0].city %>"><%= billingInfo[0].city %></option>
                                            <option value="Kottawa">Kottawa</option>
                                            <option value="Rajagiriya">Rajagiriya</option>
                                            <option value="Nugegoda">Nugegoda</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <!-- Shipping Address -->
                            <div id="billing-form" class="mb-20">
                                <h4 class="checkout-title">Billing Address</h4>

                                <div class="row">

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>First Name*</label>
                                        <input type="text" placeholder="First Name" value="<%= billingInfo[0].firstName %>">
                                    </div>

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Last Name*</label>
                                        <input type="text" placeholder="Last Name" value="<%= billingInfo[0].lastName %>">
                                    </div>

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Email Address*</label>
                                        <input type="email" placeholder="Email Address" value="<%= billingInfo[0].email %>">
                                    </div>

                                    <div class="col-12 mb-5">
                                        <label>Address*</label>
                                        <input type="text" placeholder="Address" value="<%= billingInfo[0].street %>">
                                    </div>

                                    <div class="col-md-6 col-12 mb-5">
                                        <label>Town/City*</label>
                                        <select id="city" name="city">
                                            <option value="<%= billingInfo[0].city %>"><%= billingInfo[0].city %></option>
                                            <option value="Kottawa">Kottawa</option>
                                            <option value="Rajagiriya">Rajagiriya</option>
                                            <option value="Nugegoda">Nugegoda</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-5">
                            <div class="row">

                                <!-- Cart Total -->
                                <div class="col-12 mb-40">

                                    <h4 class="checkout-title">Cart Total</h4>

                                    <div class="checkout-cart-total">

                                        <h4>Product <span>Total</span></h4>

                                        <ul>
                                        <% for(var i=0; i < cartItems.length; i++) { %>
                                            <li><%= cartItems[i].cartItemName %><span>Rs. <%= cartItems[i].cartItemSubTotal %></span></li>
                                        <% } %>  
                                        </ul>

                                      
                                        <h4>Grand Total <span><%= totalPrice %></span></h4>

                                    </div>

                                </div>
                </form>
                                <!-- Payment Method -->
                                
                                <div class="col-12 mb-40">

                                    <h4 class="checkout-title">Payment Method</h4>

                                    <div class="checkout-payment-method">

                                        <div class="single-method">
                                            <input type="radio" id="payment_cash" name="payment-method" value="cash">
                                            <label for="payment_cash">Cash on Delivery</label>
                                            <p data-method="cash">Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>

                                    </div>
                                    <button class="btn btn-primary-cs btn-round mt-20"><i class="ti-shopping-cart"></i>&nbsp;<span><a href="/cart">Return to Cart</a></span></button>
                                    <button class="btn btn-primary-cs btn-round mt-20" onclick="placeOrder()"><i class="ti-check"></i>&nbsp;<span>Place Order</span></button>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                

            </div>
        </div><!-- Page Section End -->


        <div class="footer-top-section section bg-theme-two-light section-padding">
            <div class="container">
                <div class="row mbn-40">

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">CONTACT US</h4>
                        <p>No. 23A/1, Rukmal Place,<br />Sirimal Uyana, Rathmalana</p>
                        <p><a href="tel:0117544801">0112 123 456</a></p>
                        <p><a href="mailto:info@mdi2door.com">info@medi2door.com</a><a href="#">www.Medi2Door.com</a></p>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">INFORMATION</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">NEWSLETTER</h4>
                        <p>Subscribe our newsletter and get all update of our product</p>

                        <form id="mc-form" class="mc-form footer-subscribe-form" novalidate="true">
                            <input id="mc-email" autocomplete="off" placeholder="Enter your email here" name="EMAIL" type="email">
                            <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                        </form>

                        <h5>FOLLOW US</h5>
                        <p class="footer-social"><a href="#">Facebook</a> - <a href="#">Twitter</a> - <a href="#">Google+</a></p>

                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="footer-copyright">Copyright &copy; Medi2Door. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/ajax-mail.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        var placeOrder = function() {
            window.location = '/place-order';
        }

    </script>
</body>
</html>