<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medi2Door - Bringing the medicine at your door</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/helper.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
</head>

<body>

    <div class="main-wrapper">

        <div class="header-section section">
            <div class="header-top header-top-one bg-theme-two">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col mt-10 mb-10 d-none d-md-flex">
                            <div class="header-top-left">
                                <p>Welcome to Medi2Door - Bringing the medicine at your door</p>
                            </div>
                        </div>
                        <div class="col mt-10 mb-10">
                            <div class="header-top-right">
                                <% if(userFName.length > 0) { %>
                                    <p>Hi <%= userFName %></p>                                        
                                    <% } %>
                                <p></a><a href="/logout-process">Logout</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-bottom-one header-sticky">
                <div class="container-fluid">
                    <div class="row menu-center align-items-center justify-content-between">
                        <div class="col mt-15 mb-15">
                            <div class="header-logo">
                                <a href="/index">
                                    <img src="assets/images/logo.png">
                                </a>
                            </div>
                        </div>
                       
                        <div class="col order-3 order-lg-2">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/about-us">ABOUT</a>
                                        </li>
                                        <li><a href="contact.html">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="mobile-menu order-12 d-block d-lg-none col"></div>

                    </div>
                </div>
            </div>

        </div>
        <div class="page-banner-section section" style="background-image: url(assets/images/page-cover.jpg)">
            <div class="container">
                <div class="row">
                    <div class="page-banner-content col">
                        <h1>Edit Inventory</h1>
                        <ul class="page-breadcrumb">
                            <li><a>Medi2Door</a></li>
                            <li><a>Inventory</a></li>
                            <li><a>Edit Inventory</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% if(itemDetails == '') { %>
        <!-- Page Section Start -->
        <div class="page-section section section-padding">
            <div class="container">
                <div class="inventry-management-form">
                    <form action="/add-item-process" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-30">
                                <label class="ml-3">Item Name</label>
                                <input class="form-control" id="itemName" placeholder="Item Name" type="text" name="itemName" required>
                            </div>

                            <div class="col-lg-6 col-12 mb-30">
                                <label class="ml-3">Price (Rs.)</label>
                                <input id="itemUnitPrice" placeholder="Price (Rs.)" type="text" name="itemUnitPrice" required>
                            </div>

                            <div class="col-lg-6 mb-30">
                                <label class="ml-3">Quantity</label>
                                <input id="itemQuantity" placeholder="Quantity" type="text" name="itemQuantity" required>
                            </div>

                            <div class="col-lg-6 col-12 mb-30">
                                <label class="ml-3">Item Category</label>
                                <select id="itemCategory" name="itemCategory" onchange="enable()" required>
                                    <option value="null">Select Category</option>
                                    <option value="Medicine">Medicine</option>
                                    <option value="Grocery">Groceries</option>
                                    <option value="Misc">Miscellaneous</option>
                                </select>
                            </div>

                            <div class="col-lg-6 col-12 mb-30">
                                <label class="ml-3">Prescribed / Non-prescribed</label>
                                <select id="isPrescribed" name="isPrescribed" disabled>
                                    <option value="false">Select Medicine Category</option>
                                    <option value="true">Prescribed</option>
                                    <option value="false">Non-prescribed</option>
                                </select>
                            </div>

                            <div class="col-12 mb-30">
                                <label class="ml-3">Description</label>
                                <textarea id="itemDescription" placeholder="Description" type="text" name="itemDescription"></textarea>
                            </div>
                            <div class="col-lg-6 col-12 mb-30">
                                <label class="ml-3">Image</label>
                                <input class="prescription-upload" type="file" id="imagePath" name="imagePath" required>
                            </div>
                            <div class="col-lg-6 col-12 mb-30 text-center">
                                <img class="w-50 border p-1" src="assets/images/pharmacies/pharmacy-1.jpg" alt="assets/images/pharmacies/pharmacy-1.jpg" />
                            </div>

                            <% if( message == "" ) { %>
                                <div class="col-md-12 col-12">
                                    <button class="btn btn-dark btn-round" type="submit"><i class="fa fa-check"></i> Add</button>
                                </div>
                                <br>
                                <% }  else if (message == "fail" ) {%>
                                <div style="padding: 5px;
                                width:100%;
                                height:fit-content;
                                left: 0;">
                                    <button class="btn btn-dark btn-round" type="submit"><i class="fa fa-check"></i> Add</button>
                                    <br>
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        Something went wrong!
                                        <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <% } else { %>
                                    <br>
                                    <div style="padding: 5px;
                                    width:100%;
                                    height:fit-content;
                                    left: 0;">
                                        <button type="button" class="btn btn-info btn-sm btn-block"><a href="/my-account-supplier">Go Back</a></button>
                                        <br>
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <%= message %>
                                            <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    
                                  <br>
                                <% }  %>
                        </div>
                    </form>
                    <br /><br />
                </div>

            </div>
        </div><!-- Page Section End -->
        <% } else { %>
            <!-- Page Section Start -->

            <!-- Start of the edit item form-->
            <div class="page-section section section-padding">
                <div class="container">
                    <div class="inventry-management-form">

                        <form action="/edit-item-process" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6 col-12 mb-30">
                                    <input class="form-control" id="itemName" placeholder="Item Name" type="text" name="itemName" value="<%= itemDetails[0].name %>" required disabled>
                                </div>
    
                                <div class="col-lg-6 col-12 mb-30">
                                    <input id="itemUnitPrice" placeholder="Price (Rs.)" type="text" name="itemUnitPrice" value="<%= itemDetails[0].unit_price %>" required disabled>
                                </div>
    
                                <div class="col-lg-6 mb-30">
                                    <input id="itemQuantity" placeholder="Quantity" type="text" name="itemQuantity" value="<%= itemDetails[0].quantity %>" required disabled>
                                </div>
    
                                <div class="col-lg-6 col-12 mb-30">
                                    <select id="itemCategory" name="itemCategory" onchange="enable()" required disabled>
                                        <option value="<%= itemDetails[0].category %>"><%= itemDetails[0].category %></option>
                                        <option value="Medicine">Medicine</option>
                                        <option value="Grocery">Groceries</option>
                                        <option value="Misc">Miscellaneous</option>
                                    </select>
                                </div>
    
                                <div class="col-lg-6 col-12 mb-30">
                                    <select id="isPrescribed" name="isPrescribed" disabled>
                                        <option value="<%= itemDetails[0].prescribed %>">
                                            <% if(itemDetails[0].prescribed == 'true') { %>
                                                Prescribed
                                            <% } else {  %>
                                            Non-prescribed
                                            <% } %>
                                        </option>
                                        <option value="true">Prescribed</option>
                                        <option value="false">Non-prescribed</option>
                                    </select>
                                </div>
    
                                <div class="col-12 mb-30">
                                    <textarea id="itemDescription" placeholder="Description" type="text" name="itemDescription" disabled><%= itemDetails[0].description %></textarea>
                                </div>

                                <div class="col-lg-6 col-12 mb-30">
                                    <input  style="visibility: hidden;" id="prescriptionImage" name="prescriptionImage" value="<%= itemDetails[0].image %>">  
                                    <input class="prescription-upload" type="file" id="prescriptionImageFile" name="prescriptionImageFile" value="<%= itemDetails[0].image %>" disabled>
                                </div>

                                <div class="col-lg-6 col-12 mb-30 text-center">
                                    <div class="row">
                                        <img class="w-50 border p-1" src="<%= itemDetails[0].image %>" alt="assets/images/pharmacies/pharmacy-1.jpg"/>
                                    </div>
                                    <br>
                                    <div class="row">
                                        
                                        <button class="btn btn-dark btn-round" onclick="enableEdit()"  style="display: block; float: right;"> 
                                            <i class="fa fa-pencil">Edit Details</i> 
                                        </button>
                                    </div>
                                </div>
    
                                <div class="col-md-12 col-12">
                                    <input style="visibility: hidden;" id="itemCode" name="itemCode" value="<%= itemDetails[0].item_code %>"/>  
                                    <input style="visibility: hidden;" id="supplierId" name="supplierId" value="<%= itemDetails[0].supplier_id %>"/>  
                                </div>
                                <br>

                                <!-- Start of the alert message mechanism-->
                                <% if( message == "" ) { %>
                                    <div class="col-md-12 col-12">
                                        <button class="btn btn-success btn-round" type="submit" id= "submitButton" name="action" value="update" disabled><i class="fa fa-check"></i> Update</button> 
                                        <button class="btn btn-success btn-round" type="submit" id= "submitButton" name="action" value="delete"><i class="fa fa-trash"></i> Remove</button> 
                                    </div>
                                    <br>
                                <% }  else if (message == "fail" ) {%>
                                    <div class="col-md-12 col-12">
                                        <button class="btn btn-success btn-round" type="submit" name="action" value="update"><i class="fa fa-check" disabled></i> Update</button> 
                                        <button class="btn btn-success btn-round" type="submit" name="action" value="delete"><i class="fa fa-trash"></i> Remove</button> 
                                    </div>
                                    <br>
                                    <div style="padding: 5px;
                                    width:100%;
                                    height:fit-content;
                                    left: 0;">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            Something went wrong!
                                            <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <br>
                                <% } else { %>
                                        <br>
                                        <div style="padding: 5px;
                                        width:100%;
                                        height:fit-content;
                                        left: 0;">
                                            <button type="button" class="btn btn-info btn-sm btn-block"><a href="/my-account-supplier">Go Back</a></button>
                                            <br>
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <%= message %>
                                                <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <br>
                                <% }  %>
                            </div>
                        </form>
                        <!-- End of the edit item form-->

                        <br /><br/>
                    </div>
                </div>
            </div>                                
        <% } %>
        <!-- End of the alert message mechanism-->

        <div class="footer-top-section section bg-theme-two-light section-padding">
            <div class="container">
                <div class="row mbn-40">

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">CONTACT US</h4>
                        <p>No. 23A/1, Rukmal Place,<br />Sirimal Uyana, Rathmalana</p>
                        <p><a href="tel:0117544801">0112 123 456</a></p>
                        <p><a href="mailto:info@mdi2door.com">info@medi2door.com</a><a href="#">www.Medi2Door.com</a></p>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">INFORMATION</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">NEWSLETTER</h4>
                        <p>Subscribe our newsletter and get all update of our product</p>

                        <form id="mc-form" class="mc-form footer-subscribe-form" novalidate="true">
                            <input id="mc-email" autocomplete="off" placeholder="Enter your email here" name="EMAIL" type="email">
                            <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                        </form>

                        <h5>FOLLOW US</h5>
                        <p class="footer-social"><a href="#">Facebook</a> - <a href="#">Twitter</a> - <a href="#">Google+</a></p>

                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="footer-copyright">Copyright &copy; Medi2Door. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/ajax-mail.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        var enable = function() {
            if (document.getElementById('itemCategory').value == 'Medicine') {
                document.getElementById("isPrescribed").disabled = false;
            }
            else{
                document.getElementById("isPrescribed").disabled = true;
            }
        }

        function enableEdit() {
              document.getElementById("itemName").disabled = false;
              document.getElementById("itemUnitPrice").disabled = false;
              document.getElementById("itemQuantity").disabled = false;
              document.getElementById("itemCategory").disabled = false;
              document.getElementById("isPrescribed").disabled = false;
              document.getElementById("prescriptionImageFile").disabled = false;
              document.getElementById("itemDescription").disabled = false;
              document.getElementById("submitButton").disabled = false;
            }
    </script>

</body>
</html>