<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medi2Door - Bringing the medicine at your door</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icon-font.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/helper.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
</head>

<body>

    <div class="main-wrapper">

        <div class="header-section section">
            <div class="header-top header-top-one bg-theme-two">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col mt-10 mb-10 d-none d-md-flex">
                            <div class="header-top-left">
                                <p>Welcome to Medi2Door - Bringing the medicine at your door</p>
                            </div>
                        </div>
                        <div class="col mt-10 mb-10">
                            <div class="header-top-right">
                                <% if(userFName.length > 0) { %>
                                    <p>Hi <%= userFName %></p>                                        
                                <% } %>
                                <p><a href="/my-account">My Account</a></p>
                                <p></a><a href="/logout-process">Logout</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-bottom-one header-sticky">
                <div class="container-fluid">
                    <div class="row menu-center align-items-center justify-content-between">
                        <div class="col mt-15 mb-15">
                            <div class="header-logo">
                                <a href="#">
                                    <img src="assets/images/logo.png">
                                </a>
                            </div>
                        </div>

                        <div class="col order-3 order-lg-2">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="#">ABOUT</a>
                                        </li>
                                        <li><a href="contact.html">CONTACT</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="mobile-menu order-12 d-block d-lg-none col"></div>

                    </div>
                </div>
            </div>

        </div>
        <div class="page-banner-section section" style="background-image: url(assets/images/page-cover.jpg)">
            <div class="container">
                <div class="row">
                    <div class="page-banner-content col">
                        <h1>Order Details</h1>
                        <ul class="page-breadcrumb">
                            <li><a>Medi2Door</a></li>
                            <li><a>Order Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Section Start -->
        <div class="page-section section section-padding">
            <div class="container">
                <div class="order-details-form">
                    <div class="row">
                        <div class="col-lg-2 col-12 mb-30">
                            <p>Invoice No :</p>
                        </div>
                        <div class="col-lg-4 col-12 mb-30">
                            <label class="bold"><%= orderDetails.order_id %></label>
                        </div>
                        <div class="col-lg-2 col-12 mb-30">
                            <p>Date :</p>
                        </div>
                        <div class="col-lg-4 col-12 mb-30">
                            <label class="bold"><%= orderDetails.date %></label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2 col-12 mb-30">
                            <p>Customer ID :</p>
                        </div>
                        <div class="col-lg-4 col-12 mb-30">
                            <label class="bold"><%= orderDetails.customer_id %></label>
                        </div>
                        <% if (approvalStatus == 'pending' && prescriptionReq == 'true') { %>
                            <div class="col-lg-2 col-12 mb-30">
                                <p>Status :</p>
                            </div>
                            <div class="col-lg-4 col-12 mb-30">
                                <label class="bold"><%= orderDetails.approval_status %></label>
                            </div>
                        <% } %>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2 col-12 mb-30">
                            <p>Total Amount (Rs) :</p>
                        </div>
                        <div class="col-lg-4 col-12 mb-30">
                            <label class="bold">Rs. <%= orderDetails.total_price%></label>
                        </div>
                    </div>
                    <% if (prescriptionReq == 'true') { %>
                    <div class="row mt-2">
                        <div class="col-lg-2 col-12 mb-30">
                            <p>Prescription :</p>
                        </div>
                        <div class="col-lg-4 col-12 mb-30">
                            <form action="/view-prescription" method="post">
                                <button class="btn btn-primary-cs btn-round" value="<%= orderDetails.prescription_image%>" id="prescription_image" name="prescription_image">View Prescription</button>
                            </form>                            
                        </div>
                    </div>
                    <% } %>

                    <table class="table table-bordered">
                        <thead class="thead-light text-center">
                            <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < orderDetailItems.length; i++) { %>
                            <tr>
                                <td><%= orderDetailItems[i].item_code %></td>
                                <td class="pro-thumbnail text-center"><a href="#"><img src="<%= orderDetailItems[i].image %>" style="width:50px;" /></a></td>
                                <td><%= orderDetailItems[i].name %></td>
                                <td>Rs.<%= orderDetailItems[i].unit_price %></td>
                                <td><%= orderDetailItems[i].quantity %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    
                    <% if (approvalStatus == 'pending' && prescriptionReq == 'true') { %>
                    <div class="row mt-2">
                        <div class="col-lg-12 col-12 mb-30 text-right">
                            
                            <form method="post" action="/supplier-approve-reject-order-process">
                                <input style="visibility: hidden;" id="order_id" name="order_id" value="<%= orderDetails.order_id %>"/>  
                                <input id="reject_reason" name="reject_reason" placeholder="Reason for Order rejection"/>
                                <br>
                                <button class="btn btn-success btn-round" type="submit" name="action" value="approve"><i class="fa fa-check"></i> Approve</button> 
                                <button class="btn btn-danger btn-round" type="submit" name="action" value="reject" id="reject-btn"><i class="fa fa-times"></i> Reject</button>
                            </form>
                        </div>
                    </div>
                    <% } %>

                    <% if( message == "" ) { %>
                        <% }  else if (message == 'Reject Empty' ) {%>
                            <div class="row mt-2">
                                <div class="col-lg-12 col-12 mb-30 text-right">
                                    
                                    <form method="post" action="/supplier-approve-reject-order-process">
                                        <input style="visibility: hidden;" id="order_id" name="order_id" value="<%= orderDetails.order_id %>"/>  
                                        <input id="reject_reason" name="reject_reason" placeholder="Reason for Order rejection"/>
                                        <br>
                                        <button class="btn btn-success btn-round" type="submit" name="action" value="approve"><i class="fa fa-check"></i> Approve</button> 
                                        <button class="btn btn-danger btn-round" type="submit" name="action" value="reject" id="reject-btn"><i class="fa fa-times"></i> Reject</button>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                Please enter reason for rejecting order!
                                <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <br>
                        <% }  else if (message.length > 15 ) {%>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= message %>
                            <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <br>
                          <div class="row mt-2">
                            <div class="col-lg-12 col-12 mb-30 text-right">
                                
                                <form method="post" action="/supplier-approve-reject-order-process">
                                    <input style="visibility: hidden;" id="order_id" name="order_id" value="<%= orderDetails.order_id %>"/>  
                                    <input id="reject_reason" name="reject_reason" placeholder="Reason for Order rejection"/>
                                    <br>
                                    <button class="btn btn-success btn-round" type="submit" name="action" value="approve"><i class="fa fa-check"></i> Approve</button> 
                                    <button class="btn btn-danger btn-round" type="submit" name="action" value="reject" id="reject-btn"><i class="fa fa-times"></i> Reject</button>
                                </form>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <%= message %>
                            <button type="button" class="close" data-dismiss="alert" style="background-color: transparent;">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <br>
                          <button type="button" class="btn btn-info btn-sm btn-block"><a href="/my-account">Return</a></button>
                          <br>
                        <% }  %>
                </div>
            </div>
        </div><!-- Page Section End -->

        <div class="footer-top-section section bg-theme-two-light section-padding">
            <div class="container">
                <div class="row mbn-40">

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">CONTACT US</h4>
                        <p>No. 23A/1, Rukmal Place,<br />Sirimal Uyana, Rathmalana</p>
                        <p><a href="tel:0117544801">0112 123 456</a></p>
                        <p><a href="mailto:info@mdi2door.com">info@medi2door.com</a><a href="#">www.Medi2Door.com</a></p>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">INFORMATION</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="footer-widget col-lg-4 col-md-6 col-12 mb-40">
                        <h4 class="title">NEWSLETTER</h4>
                        <p>Subscribe our newsletter and get all update of our product</p>

                        <form id="mc-form" class="mc-form footer-subscribe-form" novalidate="true">
                            <input id="mc-email" autocomplete="off" placeholder="Enter your email here" name="EMAIL" type="email">
                            <button id="mc-submit"><i class="fa fa-paper-plane-o"></i></button>
                        </form>

                        <h5>FOLLOW US</h5>
                        <p class="footer-social"><a href="#">Facebook</a> - <a href="#">Twitter</a> - <a href="#">Google+</a></p>

                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom-section section bg-theme-two pt-15 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="footer-copyright">Copyright &copy; Medi2Door. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/ajax-mail.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        var check = function() {
            if (document.getElementById('reject_reason').value.length>1) {
            document.getElementById("reject-btn").disabled = false;
            }
        }
    </script>
</body>
</html>